<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!-- helospark -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.helospark.kubeeditor.KubeEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="icons/kubernetes-editor-logo.ico"
            extensions="yml,yaml"
            id="com.helospark.kubeeditor.KubeEditor"
            name="Kube editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.helospark.kubeeditor.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
